---
title: "Complex Data Lab - Team"
layout: gridlay
excerpt: "Complex Data Lab: Team members"
sitemap: false
permalink: /team/
---

<h1>Group Members</h1>

<b>
  We are looking for new PhD students, Postdocs, and Master students to join the team 
  <a href="{{ site.url }}{{ site.baseurl }}/openings">(see openings)</a>!
</b>


{% for section in site.data.team_members %}
  {% include team_section.html %}
{% endfor %}





{% comment %}
<!-- https://schier.co/blog/html-templating-output-a-grid-in-a-single-loop -->


TODO: Do we have alumni?
<h2>Alumni</h2>

{% assign alum_staff = site.data.alumni | where: "staff", true %}
{% for section in alum_staff %}
<section class="alumni_section">
<h3>{{ section.title }}</h3>
{% for member in section.people %}
  {% assign even_odd = forloop.counter | modulo: 2 %}
  {% assign not_last = not forloop.last %}
  <div class="row">
    <div class="col-sm-6 clearfix">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/images/teampic/{{ member.photo }}" class="img-responsive" width="25%" style="float: left" />
      <h4>{{ member.name }}</h4>
      <i>{{ member.duration }} <br> Role: {{ member.info }}</i>
    </div>
    {% if even_odd == 0 and not_last %}
      </div><div class="row">
    {% endif %}
{% endfor %}
</div>
</section>
{% endfor %}


{% assign alum_students = site.data.alumni | where: "staff", false %}
<div class="row">
  {% for section in alum_students %}
  <div class="col-sm-4 clearfix">
    <h3>{{ section.title }}</h3>
    {% for member in section.people %}
      {{ member.name }}
    {% endfor %}
  </div>
  {% endfor %}
</div>

{% endcomment %}




<h2>Administrative Support</h2>
<a href="mailto:Rijsewijk@Physics.LeidenUniv.nl">Ellie van Rijsewijk</a> is helping us (and other groups) with
administration.

<br />