---
title: "Complex Data Lab - Team"
excerpt: "Complex Data Lab: Team members"
sitemap: false
permalink: /team/
---

<h1>Group Members</h1>

<b>
  We are looking for new PhD students, Postdocs, and Master students to join the team 
  <a href="{{ site.url }}{{ site.baseurl }}/openings">(see openings)</a>!
</b>


{% for section in site.data.team %}
  {% include team_section.html %}
{% endfor %}



<h2>Administrative Support</h2>
<a href="mailto:Rijsewijk@Physics.LeidenUniv.nl">Ellie van Rijsewijk</a> is helping us (and other groups) with
administration.

<br />