---
layout: default
---

{% assign name_parts = '' | split: '' %}
{% assign name = page.name | remove: ".md" | split: " "  %}

{% for part in name %}
  {% assign capital_part = part | capitalize  %}
  {% assign name_parts = name_parts | push: capital_part %}
{% endfor %}

{% assign display_name = name_parts | join: " " %}

{% for section in site.data.team %}
  {% assign person = section.people | where: "name", display_name | first %}
  {% if person %}
    {% break %}
  {% endif %}
{% endfor %}

{% assign contact = person.contact %}
{% assign filtered_posts = site.posts | where: 'author', display_name %}
{% comment %}
TODO: Sort chronologically, limit, add feed
{% endcomment %}


<div class="bio container">
  <header class="row">
    <div class="author__avatar">
      <img class="avatar" src="{{ site.url }}{{ site.baseurl }}/assets/images/teampic/{{ person.photo | default: 'bio-photo.jpg' }}"/>
    </div>
    <div class="content col-sm-6">
      <h1>
          {{ display_name }} {{ page.short_name }}
          <br/>
          <small>{{ person.role }}</small>
      </h1>
      <p>
        {{ content }}
      </p>
    </div>
  </header>
  <hr/>

  {% unless filtered_posts.size == 0 %}
    <div class="post-content">
      <h2>Recent Posts</h2>
      {% for post in filtered_posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </div>
    <hr/>
  {% endunless %}


  {% if contact %}
    <div class="bio-contact">
      <b>Contact</b>
      <br/>
      <ul>
        {% if contact.email %}
            <li>
              <a href="mailto:{{ contact.email }}"> 
                <i class="far fa-envelope"></i>
                {{ contact.email }}
              </a>
            </li>
        {% endif %}
        {% if contact.website %}
            <li>
              <a href="{{ contact.website }}"> 
                <i class="fas fa-link"></i>
                {{ contact.website | remove: "https://" | remove: "http://"}}
              </a>
            </li>
        {% endif %}
        {% if contact.github %}
            <li>
              <a href="https://github.com/{{ contact.github }}">
                <i class="fab fa-github"></i>
                {{ contact.github }}
              </a>
            </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}

</div>
