---
layout: default
---

{% assign name_parts = '' | split: '' %}
{% assign name = page.name | remove: ".md" | split: " "  %}

{% for part in name %}
  {% assign capital_part = part | capitalize  %}
  {% assign name_parts = name_parts | push: capital_part %}
{% endfor %}

{% assign display_name = name_parts | join: " " %}

{% assign person = site.data.authors[display_name] %}

{% assign contact = person.contact %}
{% assign filtered_posts = site.posts | where: 'author', person.name %}
{% comment %}
TODO: Sort chronologically, limit, add feed
{% endcomment %}


<div class="bio__page container">
  <header class="row">
    <div class="author__avatar">
      <img class="avatar" src="{{ site.url }}{{ site.baseurl }}/assets/images/teampic/{{ person.avatar | default: 'bio-photo.jpg' }}"/>
    </div>
    <div class="content col-sm-6">
      <h1>
          {{ person.name }}
          <br/>
          <small>{{ person.title }}</small>
      </h1>
      <p>
        {{ person.bio }}
      </p>
    </div>
  </header>
  <hr/>

  {% unless filtered_posts.size == 0 %}
    <div class="post-content">
      <h2>Recent Posts</h2>
      {% for post in filtered_posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </div>
    <hr/>
  {% endunless %}


  {% if person.links %}
    <div class="bio-contact">
      <b>Contact</b>
      <br/>
      <ul>
        {%- for link in person.links -%}
          <li>
            <a href="{{ link.url }}" style="text-decoration: none;"> 
              <i class="{{ link.icon }}"></i>
              {{ link.label }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {% endif %}

</div>